@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using WebAnime.Models;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TbOurBlog>

@{
    ViewData["Title"] = "BlogDetail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>BlogDetail</h1>

<p>
    <a asp-action="Createblogdetail" asp-controller="create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên blog
            </th>
            <th>
                Ảnh
            </th>
            <th>
                Ngày đăng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenBlog)
            </td>
            <td>
                    <img style="width:50px;height:50px" src="../../Layout/img/blog/@item.Anh" alt="Ảnh" />
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayDang)
                </td>
            <td>
                <a asp-action="editBlogDetail" asp-controller="edit" asp-route-id="@item.Idblog">Edit</a> |
                <a asp-controller="Delete" asp-action="deleteBlogdetail" asp-route-ma="@item.Idblog">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@Html.PagedListPager(Model,page=>Url.Action("BlogDetail",new {page=page}),new
    X.PagedList.Web.Common.PagedListRenderOptions(){
        LiElementClasses = new List<String> {"page-item"},
        PageClasses = new List<String> {"page-link"}
    }
)