@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using WebAnime.Models;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TbLoaiPhim>

@{
    ViewData["Title"] = "LPAnime";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>LPAnime</h1>
<p style="color:red">@TempData["Message"]</p>
<p>
    <a asp-action="CreateLPAnime" asp-controller="create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Loại Phim
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiPhim)
                </td>
                <td>
                    <a asp-controller="edit" asp-action="editLPAnime" asp-route-ma="@item.MaLp">Edit</a> |
                    <a asp-action="deleteLPAnime" asp-controller="delete" asp-route-ma="@item.MaLp">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model,page=>Url.Action("LPAnime",new {page=page}),new
    X.PagedList.Web.Common.PagedListRenderOptions(){
        LiElementClasses = new List<String> {"page-item"},
        PageClasses = new List<String> {"page-link"}
    }
)